/* src/styles/Catastrofes.module.css */

.catastrofesContainer {
    margin: 20px;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.topBoardContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.navList {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.navListItem {
    margin-left: 10px;
    font-size: 14px;
    color: #686868;
}

.headerTitleCatastrofes {
    text-align: center;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top: -10px;
}

.searchInput {
    width: 200px;
    height: 36px;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 0 10px;
    margin: 10px auto;
    display: block;
}

.addButton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #84DA15;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto;
}

.addButton:hover {
    background-color: #e6ffe6;
}

.imgButtonCatastrofes {
    width: 30px;
    height: 30px;
}

.listContainer {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    margin: 20px auto;
}

.listTitle {
    font-size: 25px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.dataHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #686868;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    font-weight: 700;
}

.dataRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #4a4a4a;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    font-weight: 500;
}

.dataColumn {
    flex: 1;
    text-align: center;
}

.dataColumn:first-child {
    text-align: left;
    font-weight: 600;
}

/* Botões de ação */
.actionButtons {
    display: flex;
    gap: 10px;
}

.editButton {
    background-color: #4caf50; /* Verde */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
}

.deleteButton {
    background-color: #f44336; /* Vermelho */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
}

.editButton:hover {
    background-color: #45a049;
}

.deleteButton:hover {
    background-color: #d32f2f;
}

/* Modal Styles */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: #ffffff;
    border-radius: 10px;
    padding: 30px;
    width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease-out;
}

.modalTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.formGroup {
    margin-bottom: 15px;
    text-align: left;
}

.label {
    font-size: 14px;
    font-weight: 600;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

.input,
.inputSelect,
.inputDate {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 6px;
}

.inputSelect {
    width: 100%;
    height: 34px;
    font-size: 14px;
    padding-left: 0.5em;
}

.inputDate {
    height: 13px;
}

.formActions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.submitButton {
    background-color: #84da15;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submitButton:hover {
    background-color: #72c212;
}

.closeButton {
    background-color: #ddd;
    color: #555;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.closeButton:hover {
    background-color: #bbb;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.75);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
