@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/* Isolate styles by ensuring they only apply to the Dashboard component */
.dashboard {
    font-family: "Poppins", sans-serif;
    background-color: #F8F9FA;
    overflow-x: hidden;
}

/* Navigation Bar */
.navBarContainer {
    width: 334px;
    position: fixed;
}

.logo {
    width: 70px;
    height: 70px;
    background-color: #84DA15;
    border-radius: 50%;
    margin-left: 35%;
    margin-top: -2%;
}

.dashboardLine {
    background-color: #d1d1d1;
    height: 2px;
    width: 261px;
    margin-left: 10%;
    margin-top: 6%;
}

/* Containers */
.containerWhiteDashboard, 
.containerWhiteUser, 
.containerWhiteCatastrofes, 
.containerWhiteDoacoes, 
.containerWhiteDelivery, 
.containerWhitePages, 
.containerWhiteLogout {
    position: relative;
    width: 261px;
    height: 50px;
    border-radius: 10px;
    margin-left: 10%;
    margin-top: 3%;
    cursor: pointer;
    background-color: transparent;
}

.containerWhiteDashboard {
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    margin-top: 10%;
}

/* Icon containers */
.containerIcon {
    position: absolute;
    background-color: #84DA15;
    width: 38px;
    height: 35px;
    border-radius: 5px;
    margin-left: 6%;
    margin-top: 3%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.nav {
    width: 23px;
    height: 23px;
    padding-left: 0.65cap;
    padding-top: 0.5cap;
}

.pagesLabel {
    display: flex;
    margin-left: 12%;
    padding-top: 2cap;
    color: #000;
    font-weight: 700;
}

/* Dashboard Content */
.dashboardsContainer {
    position: relative;
    width: 1107px;
    height: 100%;
    margin-left: 23.1%;
    margin-top: 2%;
}

.topBoardContainer nav ul li {
    display: inline;
    color: #686868;
    font-weight: 300;
}

.topBoardContainer nav ul li:first-child {
    margin-left: 3%;
}

h1 {
    margin-left: 3%;
}

.searchInput {
    position: absolute;
    width: 256px;
    height: 36px;
    margin-left: 45%;
    border-radius: 10px;
    border: none;
    margin-top: -6%;
    padding-left: 2cap;
}

.userVersionButton {
    width: 182px;
    height: 36px;
    margin-left: 75%;
    margin-top: -6%;
    border: 2px solid #84DA15;
    border-radius: 10px;
    color: #84DA15;
    font-weight: 600;
    background-color: transparent;
}

/* Today Containers */
.donationTodayContainer, .usersTodayContainer, .deliveryTodayContainer {
    width: 280px;
    height: 65px;
    background-color: #fff;
    margin-top: 4%;
    border-radius: 15px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.todayText {
    position: absolute;
    margin-left: -395%;
    font-size: 25px;
    margin-top: -60%;
}

.todayContainer {
    position: absolute;
    width: 48px;
    height: 43px;
    background: linear-gradient(to bottom right, #84DA15, #66A910, #3B6109);
    border-radius: 10px;
    margin-left: 19%;
    margin-top: -2%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.today {
    width: 30px;
    height: 30px;
    padding-left: 0.7cap;
    padding-top: 0.5cap;
}

/* Detailed Containers */
.dashboardDelivery, .catastrofesContainer, .usersContainer, .containerDoacoesDashboard, .containerFastView, .containerVisoesDetalhadas {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

/* Specific Styles for Detailed Sections */
.dashboardDelivery {
    width: 556px;
    height: 278px;
    margin-top: 5%;
    margin-left: 2%;
}

.catastrofesContainer {
    width: 360px;
    height: 278px;
    background: linear-gradient(to bottom right, #84DA15, #3B6109);
    margin-left: 58%;
    margin-top: -25.25%;
}

.usersContainer {
    width: 350px;
    height: 429px;
    margin-left: 2%;
    margin-top: 2%;
}

/* Filters */
.filtro, .filtroDelivery, .filtroTituloUsers, .usersFiltro, .filtroTituloDonations, .donationsFiltro {
    margin-left: 30%;
    font-weight: 400;
}

select {
    position: absolute;
    border: none;
    border-radius: 5px;
    background-color: #D9D9D9;
    color: #686868;
    font-weight: 600;
    width: 100px;
}

/* Legend Indicators */
.entregasConcluidas, .circulo1, .circulo2, .circulo3, .circulo4 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 50%;
    margin-top: 6%;
}

.circulo1 {
    background-color: #2353AF;
}

.circulo2 {
    background-color: #9666E4;
}

.circulo3 {
    background-color: #EFE92B;
}

.circulo4 {
    background-color: #E1410F;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #cfcfcf;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}
