/* Adicione no CSS global */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F8F9FA;
    margin: 0;
    padding: 0;
    overflow-y: auto; /* Adiciona a barra de rolagem */
}

.main-content {
    padding-top: 150px; /* Para evitar sobreposição com o cabeçalho fixo */
}

/* Ajustes para o Header */
.headerContainer {
    height: 100px;
    width: 100%;
    background-color: #636363;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
